<configuration>
  <system.webServer>
    <handlers accessPolicy="Read, Execute, Script">
            <add name="django handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\krm\AppData\Local\Programs\Python\Python37\python.exe|C:\Users\krm\AppData\Local\Programs\Python\Python37\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\krm\AppData\Local\Programs\Python\Python37\python.exe|C:\Users\krm\AppData\Local\Programs\Python\Python37\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
   
    </handlers>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="mysite.wsgi.application" />
    <add key="PYTHONPATH" value="D:\Hemant\Python\mysite" />
    <add key="DJANGO_SETTINGS_MODULE" value="mysite.settings" />
  </appSettings>
</configuration>