{%extends  'Admin/adminlayout.html'%}
{%block main_body%}
{% load static %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="{%  static  'js/studentjsfile.js'  %}"></script>
<script language="javascript" type="text/javascript">
  $(function () {
  $('#txt_dob').datetimepicker({
    format: 'L'
});
  });
$(function () {
    $("#studentimg").attr("src","static/admin/dist/img/preview.png");
    $("#profile").change(function () {
        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
        if (regex.test($(this).val().toLowerCase())) {
           
                if (typeof (FileReader) != "undefined") {
                    $("#studentimg").show();
                    $("#studentimg").append("<img />");
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#studentimg").attr("src", e.target.result);
                    }
                    reader.readAsDataURL($(this)[0].files[0]);
                } else {
                    alert("This browser does not support FileReader.");
                }
           
        } else {
            alert("Please upload a valid image file.");
        }
    });
});
</script>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Student Add</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Master</a></li>
            <li class="breadcrumb-item"><a href="#">Manage Student</a></li>
            <li class="breadcrumb-item active">Student Add</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
          <div class="col-md-8">
            <div class="card card-primary">
              {% for message in messages %}
            
              {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}!</strong> your details has been submitted
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endif %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ message }}!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endif %}
             {% endfor %}
              <div class="card-header">
                <h3 class="card-title">Student</h3>
                <div class="card-tools">
                  <span style="float: right;"><a href="{% url 'studentlist' %}">View Student List</a></span>
                </div>
              </div>
              <form method="POST" action="{% url 'addstudent' %}" enctype="multipart/form-data">
                <input type="hidden" id="studentid" name="studentid" />
                {% csrf_token %}
              <div class="card-body">
                <div class="form-group">
                    <div class="row">
                    <div class="col-md-6">
                  <label for="inputName">First Name</label>
                  <input type="text" id="txt_f_name" class="form-control" name="txt_f_name">
                </div>
                <div class="col-md-6">
                    <label for="inputName">Last Name</label>
                    <input type="text" id="txt_l_name" class="form-control" name="txt_l_name">
                  </div>
                  </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                      <label for="inputName">Student Id</label>
                      <input type="text" id="txt_id" class="form-control" name="txt_id">
                    </div>
                    <div class="col-md-6">
                        <label for="inputName">User Id</label>
                        <input type="text" id="txt_userid" class="form-control" name="txt_userid">
                      </div>
                      </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                      <label for="inputName">EmailId</label>
                      <input type="text" id="txt_email" class="form-control" name="txt_email">
                    </div>
                    <div class="col-md-6">
                        <label for="inputName">Password</label>
                        <input type="text" id="txt_pwd" class="form-control" name="txt_pwd">
                      </div>
                      </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                      <label for="inputName">Contact No</label>
                      <input type="text" id="txt_contact" class="form-control" name="txt_contact">
                    </div>
                    <div class="col-md-6">
                      <label for="inputName">DOB</label>
                        <input type="date" class="form-control" id="txt_dob" name="txt_dob"/>
                    </div>
                   
                      </div>
                      </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                      <label for="inputName">Course</label>
                      <select id="stu_course" class="form-control custom-select" name="stu_course">
                        <option value="0" selected disabled>Select Course</option>
                        {% for course in records %}
                        <option value="{{ course.0 }}">{{ course.1 }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-6">
                        <label for="inputName">Admission Year</label>
                        <select id="stu_year" class="form-control custom-select" name="stu_year">
                          <option value="0" selected disabled>Select Admission Year</option>
                            <option value="2010">2010</option>
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                          </select>
                      </div>
                      </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                      <label for="inputName">Address</label>
                        <textarea id="address" class="form-control" rows="4" name="address"></textarea>
                    </div>
                      </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                      <label for="inputName">Status</label>
                      <select id="stu_status" class="form-control custom-select" name="stu_status">
                        <option value="2" selected disabled>Select Status</option>
                        <option value="1">Active</option>
                        <option value="0">inActive</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                        <label for="inputName">Upload Profile Pic</label>
                        <input class="form-control" name="profile" type="file" id="profile">
                      </div>
                      </div>
                </div>
                <div class="row">
                    <div class="col-12">
                      <a class="btn btn-secondary float-right" href="{% url 'cancel' %}" style="cursor:pointer" id="cancel">Cancel</a>
                      <input type="submit" value="Submit" class="btn btn-success float-right" style="margin-right: 15px;" id="submit">
                      <a  class="btn btn-success float-right" style="margin-right: 15px;cursor:pointer" href="#" id="update">Update</a>
                    </div>
                  </div>
              </div>
              </form>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <div class="col-md-4">
            <div class="card card-secondary">
              <div class="card-header" style="background-color: #f6f6f6;">
                <h3 class="card-title" style="color:black">Selected Pic</h3><br><br>
                <img id="studentimg" src="#" alt="your image" style="width: 100%;" />
              </div>
              
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
       
      </section>
      <script src="{%  static  'admin/plugins/jquery/jquery.min.js'  %}"></script>
      <script src="{%  static  'admin/plugins/bootstrap/js/bootstrap.bundle.min.js'  %}"></script>
      {%endblock%}