{%extends  'Admin/adminlayout.html'%}
{% load static %}
{%block main_body%}

<link rel="stylesheet" type="text/css" href="{%  static  'admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css'  %}">
<link rel="stylesheet" type="text/css" href="{%  static  'admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css'  %}">
<link rel="stylesheet" type="text/css" href="{%  static  'admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css'  %}">
<!-- Theme style -->
<!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Student List</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Master</a></li>
                <li class="breadcrumb-item"><a href="#">Manage Student</a></li>
                <li class="breadcrumb-item active">Student List</li>
               
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- /.card -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Student List </h3>
                <span style="float: right;"><a href="{% url 'addstudent' %}">Add Student</a></span>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Sno</th>
                    <th>Name</th>
                    <th>Course</th>
                    <th>Addmission Year</th>
                    <th>Emailid</th>
                    <th>Contact No</th>
                    <th>DOB</th>
                    <th>Status</th>
                    <th>Createdon</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for stud in result %}
                  <tr>
                      
                    <td>{{forloop.counter}}</td>
                    <td>{{stud.1}}</td>
                    <td>{{stud.2}}</td>
                    <td>{{stud.3}}</td>
                    <td>{{stud.4}}</td>
                    <td>{{stud.5}}</td>
                    <td>{{stud.6}}</td>
                    <td>
                      {% if stud.7 == 1 %}
                      <span class="activedot"></span>
                      {% else %}
                      <span class="inactivedot"></span>
                      {% endif %}
                  </td>
                  <td>{{stud.6}}</td>
                    <td>
                      <a href="edit/{{stud.0}}" style="cursor: pointer;" class="test"><i class="fas fa-edit"></i> </a>
                      <a href="/deletestudent/{{stud.0}}" id="btndelete"><i class="fas fa-trash-alt" style="color:red"></i></a>
                      </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                 
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <script src="{%  static  'admin/plugins/jquery/jquery.min.js'  %}"></script>
    <script src="{%  static  'admin/plugins/bootstrap/js/bootstrap.bundle.min.js'  %}"></script>
<!-- DataTables  & Plugins -->
<script src="{%  static  'admin/plugins/datatables/jquery.dataTables.min.js'  %}"></script>
<script src="{%  static  'admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js'  %}"></script>
<script src="{%  static  'admin/plugins/datatables-responsive/js/dataTables.responsive.min.js'  %}"></script>
<script src="{%  static  'admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js'  %}"></script>
<script src="{%  static  'admin/plugins/datatables-buttons/js/dataTables.buttons.min.js'  %}"></script>
<script src="{%  static  'admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js'  %}"></script>
<script src="{%  static  'admin/plugins/jszip/jszip.min.js'  %}"></script>
<script src="{%  static  'admin/plugins/pdfmake/pdfmake.min.js'  %}"></script>
<script src="{%  static  'admin/plugins/pdfmake/vfs_fonts.js'  %}"></script>
<script src="{%  static  'admin/plugins/datatables-buttons/js/buttons.html5.min.js'  %}"></script>
<script src="{%  static  'admin/plugins/datatables-buttons/js/buttons.print.min.js'  %}"></script>
<script src="{%  static  'admin/plugins/datatables-buttons/js/buttons.colVis.min.js'  %}"></script>
<script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["csv", "excel", "pdf", "print"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script>
{%endblock%}